@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Ensure a smooth transition when the body background changes */
body {
  @apply transition-colors duration-300;
}